# **To perform data analysis, I have mentioned 21 questions that we are going to solve one by one. Questions are as follows.**

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Salaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## 1.  Display Top 10 Rows of The Dataset

In [3]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

## 2. Check Last 10 Rows of The Dataset

In [4]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
107121,107122,Gretel Chuquipul,Victim/Witness Investigator 1,5124.00,0.00,0.00,2346.83,5124.00,7470.83,2013,NaN,San Francisco,NaN
107122,107123,Lisa W Phelan,Pool Lifeguard,7294.74,0.00,100.03,73.97,7394.77,7468.74,2013,NaN,San Francisco,NaN
107123,107124,Carol L McRae-Jones,PS Aide Health Services,7392.78,0.00,0.00,73.93,7392.78,7466.71,2013,NaN,San Francisco,NaN
107124,107125,Lance A Wong,PS Aide to Prof,7389.17,0.00,0.00,73.88,7389.17,7463.05,2013,NaN,San Francisco,NaN
107125,107126,Stephen Glatt,"Marriage, Family & Child Cnslr",7255.01,0.00,200.33,0.00,7455.34,7455.34,2013,NaN,San Francisco,NaN
107126,107127,Murlvin L Lest,Public Svc Aide-Public Works,7234.05,0.00,205.59,14.35,7439.64,7453.99,2013,NaN,San Francisco,NaN
107127,107128,Erin R Tolva,Special Nurse,4326.00,1486.54,370.73,1270.30,6183.27,7453.57,2013,NaN,San Francisco,NaN
107128,107129,Zhuo Jun Chen,Public Svc Aide-Public Works,7379.10,0.00,0.00,73.79,7379.10,7452.89,2013,NaN,San Francisco,NaN
107129,107130,Billy R Courtney,Public Svc Aide-Public Works,7324.97,0.00,53.46,73.80,7378.43,7452.23,2013,NaN,San Francisco,NaN
107130,107131,Steven Tan,Communications Systems Tech,7378.00,0.00,0.00,73.78,7378.00,7451.78,2013,NaN,San Franc,NaN

## 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [5]:
print('Number of Rows:',df.shape[0])
print('Number of columns:',df.shape[1])

Number of Rows: 107131
Number of columns: 13

## 4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107131 entries, 0 to 107130
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                107131 non-null  int64
 1   EmployeeName      107131 non-null  object
 2   JobTitle          107131 non-null  object
 3   BasePay           106686 non-null  float64
 4   OvertimePay       107131 non-null  float64
 5   OtherPay          107131 non-null  float64
 6   Benefits          70972 non-null   float64
 7   TotalPay          107131 non-null  float64
 8   TotalPayBenefits  107131 non-null  float64
 9   Year              107131 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            107131 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 10.6+ MB

In [7]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

## 5. Check Null Values In The Dataset

In [8]:
df.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                445
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               107131
Agency                   0
Status              107131
dtype: int64

## 6. Drop ID, Notes, Agency, and Status Columns

In [9]:
df.drop(['Id','Agency','Status'],axis=1,inplace=True)

## 7. Get Overall Statistics About The Dataframe

In [10]:
df.describe(include='all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,107131,107131,106686.000000,107131.000000,107131.000000,70972.000000,107131.000000,107131.00000,107131.000000,0.0
unique,101501,2123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,KEVIN LEE,Transit Operator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9,4489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,68165.605881,5106.471602,3810.361615,26315.472057,76799.293280,94232.73162,2011.981770,NaN
std,NaN,NaN,41457.993100,11485.396919,8256.400081,14568.494336,49214.066428,60282.69431,0.810239,NaN
min,NaN,NaN,-166.010000,-0.010000,-7058.590000,0.000000,0.000000,0.00000,2011.000000,NaN
25%,NaN,NaN,40190.780000,0.000000,0.000000,16970.375000,43324.695000,50307.27000,2011.000000,NaN
50%,NaN,NaN,65962.000000,0.000000,932.840000,29380.695000,72645.530000,91793.77000,2012.000000,NaN
75%,NaN,NaN,95229.040000,4807.700000,4476.160000,35949.692500,106690.935000,131158.31000,2013.000000,NaN
max,NaN,NaN,319275.010000,245131.880000,400184.250000,86533.210000,567595.430000,567595.43000,2013.000000,NaN

## 8. Find Occurrence of The Employee Names  (Top 5)

In [11]:
df['EmployeeName'].value_counts().head(5)

KEVIN LEE      9
Kevin Lee      9
RICHARD LEE    8
DAVID WONG     8
MICHAEL LEE    8
Name: EmployeeName, dtype: int64

## 9. Find The Number of Unique Job Titles

In [12]:
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ...,
       'Public Safety Comm Tech', 'Drug Court Coordinator',
       'IS Technician Assistant'], dtype=object)

## 10.Total Number of Job Titles Contain Captain

In [13]:
len(df[df['JobTitle'].str.contains('CAPTAIN',case=False)])

411

## 11. Display All the Employee Names From Fire Department

In [14]:
df[df['JobTitle'].str.contains('fire',case=False)]['EmployeeName']

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
106803      Angela T Freeman
106846      James A Lockhart
106858    Jennifer T DeBerry
106864      Jonathan  Pettey
106898      Kirsten K Conroy
Name: EmployeeName, Length: 4362, dtype: object

## 12. Find Minimum, Maximum, and Average BasePay

![C.PNG]()

![Cap.PNG]()

In [15]:
#convert Basepay into float to find average
df['BasePay']=df['BasePay'].apply(pd.to_numeric,errors='coerce')

In [16]:
df['BasePay'].min()

-166.01

In [17]:
df['BasePay'].max()

319275.01

In [18]:
df['BasePay'].mean()

68165.60588080912

# **13. Replace 'Not Provided' in EmployeeName' Column to NaN**

In [19]:
df['EmployeeName']=df['EmployeeName'].replace('Not Provided',np.nan)

In [20]:
df['EmployeeName']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
107126       Murlvin L Lest
107127         Erin R Tolva
107128       Zhuo Jun  Chen
107129     Billy R Courtney
107130          Steven  Tan
Name: EmployeeName, Length: 107131, dtype: object

# **14. Drop The Rows Having 3 Missing Values**

In [21]:
df.drop(df[df.isnull().sum(axis=1)==3].index,axis=0,inplace=True)

In [22]:
df[df.isnull().sum(axis=1)==3]

Empty DataFrame
Columns: [EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes]
Index: []

# **15. Find Job Title of ALBERT PARDINI**

In [23]:
df[df['EmployeeName']=='ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

# **16. How Much ALBERT PARDINI Make (Include Benefits)?**

In [24]:
df[df['EmployeeName']=='ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

# **17.Display Name of The Person Having The Highest BasePay**

In [25]:
df[df['BasePay']==df['BasePay'].max()]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

# **18.Find Average BasePay of All Employee Per Year**

In [26]:
df.groupby('Year').agg({'BasePay':'mean'})

           BasePay
Year
2011  63596.112293
2012  65436.406857
2013  76031.951150

# **19. Find Average BasePay of All Employee Per JobTitle**

In [27]:
df.groupby('JobTitle').agg({'BasePay':'mean'})

                                                     BasePay
JobTitle
ACCOUNT CLERK                                   43300.806506
ACCOUNTANT                                      46643.172000
ACCOUNTANT INTERN                               28732.663958
ACUPUNCTURIST                                   66374.400000
ADMINISTRATIVE ANALYST                          63435.628602
...                                                      ...
X-RAY LABORATORY AIDE                           47664.773077
X-Ray Laboratory Aide                           47765.098730
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS  52609.910000
Youth Comm Advisor                              41298.136667
ZOO CURATOR                                     43148.000000

[2123 rows x 1 columns]

# ***20. Find Average BasePay of Employee Having Job Title ACCOUNTANT ***

In [28]:
df.groupby(df['JobTitle']=='ACCOUNTANT').agg({'BasePay':'mean'})

               BasePay
JobTitle
False     68166.710253
True      46643.172000

# **21. Find Top 5 Most Common Jobs**

In [34]:
df['JobTitle'].value_counts()

Transit Operator                                   4489
Special Nurse                                      2528
Registered Nurse                                   2490
TRANSIT OPERATOR                                   2388
Police Officer 3                                   1635
                                                   ...
BRAILLIST                                             1
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR       1
SHADE AND DRAPERY WORKER                              1
TRAINING COORDINATOR                                  1
IS Technician Assistant                               1
Name: JobTitle, Length: 2123, dtype: int64